:root {
  --app-background: #8b3f04;
  --accent: #f7c848;
  --box-background: #c4c4c4;
  --main-text: #000000;
}

body {
  margin: 0;
  background-color: var(--app-background);
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
